.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:70%;
}

.centerFM {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}

.centerH {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.responsive {
    width: 100%;
    max-width: 566px;
    height: auto;
    max-height: 170px;
}

.centerHH {
    display: block;
    margin-left: 50%;
    margin-right: auto;
    width:50%;
}

.imgI {
    padding-left: 0px;
    padding-right: 0px;
}

.responsiveIR {
    width: 100%;
    max-width: 100px;
    height: auto;
    max-height: 80px;
}
.mmIR {
    margin-top: 30px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}